<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Top</title>
	</head>
	<body>
		<a href="/new"><button type="button">新規投稿</button></a>
		<table th:each="content : ${contents}">
			<tr>
				<td th:text="${content.id}">
				<td th:text="${content.content}">
				<td th:text="${content.createdDate}">
				<td>
					<a th:href="@{/edit/{id}(id=${content.id})}">
						<button type="button">編集</button>
					</a>
				</td>
				<td>
					<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
						<input type="submit" value="削除">
					</form>
				</td>

			</tr>
			<div th:each="message : ${messages}">
				<tr th:if="${content.id == message.reportId}" >
					<td></td>
					<td th:text="${message.message}"><td>
					<td>
						<a th:href="@{/edit/reply/{id}(id=${message.id})}">
							<button type="button">編集</button>
						</a>
					</td>
					<td>
						<form th:action="@{/delete/reply/{id}(id=${message.id})}" th:method="delete">
							<input type="submit" value="削除">
						</form>
					</td>
				</tr>
			</div>
			<tr>
				<td></td>
				<td colspan="3">
					<form th:action="@{/reply}" th:method="post"  th:object="${formModel}">
						<input type="text" name="message" th;value="*{message}" size="20" maxlength="200" />
						<input type="hidden" name="reportId" th:value="${content.id}" />
						<input type="submit" value="返信" />
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>